@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    font-family: 'Roboto', sans-serif;
    font-size: clamp(14px, 2vw, 18px);
}

h1 {
    font-size: clamp(28px, 2vw, 32px);
}

h2 {
    font-size: clamp(21px, 2vw, 24px);
}

h3 {
    font-size: clamp(16.38px, 2vw, 18.72px);
}

h4 {
    font-size: clamp(14px, 2vw, 16px);
}

h5 {
    font-size: clamp(11.62px, 2vw, 13.28px);
}

h6 {
    font-size: clamp(10.5px, 2vw, 12px);
}

/*
html {
    font-size: 14px;
}

h1 {
    font-size: 28px;
    font-weight: bold;
}

h2 {
    font-size: 21px;
    font-weight: bold;
}

h3 {
    font-size: 16.38px;
    font-weight: bold;
}

h4 {
    font-size: 14px;
    font-weight: bold;
}

h5 {
    font-size: 11.62px;
    font-weight: bold;
}

h6 {
    font-size: 10.5px;
    font-weight: bold;
}
*/

p, h1, h2, h3, h4, h5, h6 {
    padding: 0.3rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

body > main {
    flex: 1;
    background-color: darkgray;
}

/*
@media screen and (min-width: 320px) {
    html {
        font-size: calc(14px + 2 * ((100vw - 320px) / 680));
    }
}

@media screen and (min-width: 1000px) {
    html {
        font-size: 16px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 18.72px;
    }

    h4 {
        font-size: 26px;
    }

    h5 {
        font-size: 13.28px;
    }

    h6 {
        font-size: 12px;
    }
}
*/