@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Basic elements */
:root {
    --main-font: 'Roboto', sans-serif;
    --main-font-size: clamp(14px, 2vw, 18px);

    font-family: var(--main-font);
    font-size: var(--main-font-size);
}

h1 {
    font-size: clamp(28px, 2vw, 32px);
}

h2 {
    font-size: clamp(21px, 2vw, 24px);
}

h3 {
    font-size: clamp(16.38px, 2vw, 18.72px);
}

h4 {
    font-size: clamp(14px, 2vw, 16px);
}

h5 {
    font-size: clamp(11.62px, 2vw, 13.28px);
}

h6 {
    font-size: clamp(10.5px, 2vw, 12px);
}

p, h1, h2, h3, h4, h5, h6 {
    padding: 0.3rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

body > main {
    flex: 1;
    background-color: darkgray;
}

/* Forms */
.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    background-color: white;
    border-radius: 0;
    width: 45vw;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    box-shadow: 5px 5px 5px grey;
}

form > * {
    margin: 0.25rem 2.5rem;
}

form > h2 {
    text-align: center;
    margin: 1rem 1rem 0;
}

form > hr {
    color: black;
    margin: 1rem 1.5rem;
}

form > p {
    margin: 0 2.5rem 1rem;
    text-align: end;
}

form > p > a {
    text-decoration: none;
}

form > input, form > select, form > textarea {
    font-family: var(--main-font);
    font-size: var(--main-font-size);
    border: 1px solid gray;
    padding: 0.3rem;
    border-radius: 0;
}

form > input[type=submit] {
    border: none;
    font-weight: bold;
    margin: 1rem 2.5rem;
    padding: 0.5rem;
}

form > input[type=submit]:hover {
    cursor: pointer;
}