.table-container {
    display: flex;
    flex-direction: row;
}

table {
    flex: 1;
}

table {
    border:1px solid var(--main-color);
    border-collapse: collapse;
}

th, td {
    border-left: 1px solid var(--main-color);
    border-right: 1px solid var(--main-color);
    padding: .3rem;
}

th {
    font-weight: bold;
    text-align: start;
    color: white;
    background-color: var(--main-color);
}

tr:nth-child(even) {
    background-color: var(--side-color);
}