.table-container {
    display: flex;
    flex-direction: row;
}

table {
    flex: 1;
}

table {
    border:1px solid gray;
    border-collapse: collapse;
}

th, td {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding: .3rem;
}

th {
    font-weight: bold;
    text-align: start;
    background-color: darkgray;
}

tr:nth-child(even) {
    background-color: lightgray;
}